body{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}

nav{
  width: 100%;
}

nav.bg-dark{
    background-color: #e1a177 !important;
    padding-right:20px;
  }
  
  .form-control:hover{
    border:3px solid #000;
    transition:.5s;
  }
  
  .btn-outline-success{
    color:#000 !important;
    border:1px solid #000 !important;
  }
  
  .btn-outline-success:hover{
    color:#fff !important;
    border:1px solid #fff !important;
    background-color: #000 !important;
    transition:1s;
  }

  #logo{
    height: 90px;
    padding-left: 20px;
  }

#carouselExampleCaptions{
  width: 80%;
}

#slide{
  height: 800px;
}

button.btn-outline-success{
  font-family: Montserrat;
  color: #000;
  border: 1px solid #000;
}

a.nav-item{
  font-family: Montserrat;
}

h2{
  font-family: lobster;
  color:#e1a177;
  align-items: center;
}

p{
  font-family: montserrat;
  font-size: 15px;
  color:red;
  align-items: center;
}

.row{
  transform:translateY(200px);
}

#third{
  background-color: #e1a177;
  color:black;
}

#second{
  background-color: #e1a177;
  color:black;
}

#first{
  background-color: #e1a177;
  color:black;
  align-items: center;
}

#footer{
  margin-top: 195px;
  align-items: center;
  padding:50px;
  background-color:#e1a177;
}

